@use 'sass:math';

.card {
    display: block;
    padding: $base-padding;
    border: $base-border-thickness solid #ddd;
    box-shadow: $base-box-shadow;
    border-radius: math.div($base-border-radius, 4);

    &--title {
        font-size: $font-size-lg;
        padding-bottom: $base-padding;
        font-weight: bold;
    }

    &--body {
        font-size: $base-font-size;
    }

    & a {
        text-decoration: underline;
    }
}

//.card .card-title {}

@debug "hello";
@debug math.floor(2.6);
@debug math.max(1px, 20px, 15px, 12px);